.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbarmenu{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  gap: 5rem;
  height: 70px;
}

.navbarmenu .navbar-item{
  background-color: blue;
  padding: 4px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  width: 90px;
}